@model RouteViewModel
<div">
    <form method="post">
        <input asp-for="Route.Id" hidden />
        <div>
            <textArea class="form-control" id="commentTextArea" name="commentTextArea" rows="3" placeholder="..."></textArea>
        </div>
        <button asp-action="PostComment" class="btn btn-primary" type="submit" id="button-addon2">Comment</button>
        <button class="btn btn-primary" type="reset" id="button-addon2">Cancel</button>
    </form>

    <br />
    @foreach (CommentsViewModel comment in Model.RouteComments.OrderByDescending(x => x.Comment.CommentDateTime))
    {
        <i class="bi bi-person-fill">@comment.User.Name</i>
        <br />
        <i class="bi bi-clock-fill"> @comment.Comment.CommentDateTime</i>
        <br />

        <b>@comment.Comment.Comment </b>
        <br />
        <br />
    }
</div>