@model BrowseViewModel
@{
    ViewData["Title"] = "Home Page";
}
@{
    int routeId = 0;
    int.TryParse(Url.ActionContext.RouteData.Values["Id"]?.ToString(), out routeId);
}
<div class="row">
    <div class="col">
        <form asp-action="LoadRoutes" data-ajax="true" data-ajax-update="#RouteGrid" name="form_routesFilters">
            <div class="collapse" id="collapseBrowseFilters">
                <div class="d-inline-flex justify-content-left w-100 p-1 mb-3 rounded-3 border">

                    @* <label for="Filters.GymSelected" class="form-label mt-4">Gym</label> *@
                    <select asp-for="Filters.GymSelected" asp-items="Model.Filters.GymsAvailable" onchange="document.getElementById('routeFilteringSubmit').click();" class="form-select m-1 w-auto"></select>

                    @* <label for="Filters.GradeSelected" class="form-label mt-4">Grade</label> *@
                    <select asp-for="Filters.GradeSelected" asp-items="Model.Filters.GradesAvailable" onchange="document.getElementById('routeFilteringSubmit').click();" class="form-select m-1 w-auto"></select>

                    <button hidden type="submit" id="routeFilteringSubmit">No looking :)</button>
                    <button class="btn btn-light align-self-end ms-auto m-1" type="reset" onclick="document.getElementById('routeFilteringSubmit').click();" id="routeFilteringReset">Clear Filters</button>
                </div>
            </div>
        </form>
        <div id="RouteGrid">
            <partial name="_Browse_RouteGrid" model="@Model" />
        </div>
    </div>

    <br />

    <div class="col-1">

        <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBrowseFilters" aria-expanded="false" aria-controls="collapseBrowseFilters">
            <i class="bi bi-funnel"></i>
        </button>
    </div>
</div>