<div class="card mb-3 rounded-3 shadow p-1">
	<a class="btn btn-light m-1" asp-area="Admin" asp-controller="Admin" asp-action="UpsertRoute" asp-route-id="new">Add Route</a>
	<a class="btn btn-light m-1" asp-area="Admin" asp-controller="Admin" asp-action="UpsertRoutesetter">Add Routesetter</a>
	<a class="btn btn-light m-1" asp-area="Admin" asp-controller="Admin" asp-action="UpsertGrade">Add Grade</a>
</div>